@import './web/styles/reset.css';
@import './web/styles/_fonts.css';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: var(--font-family);
  vertical-align: baseline;
}

html {
  font-size: var(--font-resize);
  background: var(--color-gray-light);
}
